/* .comment{
    margin-top: 8rem;
} */
*{
    margin: 0;
    padding: 0;
}
.about{
    background-color: rgb(67, 67, 104);
    color: aliceblue;
    margin-left: 0;
    padding-top: 5rem;
}
.comment1{
    text-align: center;
    font-size: 1.5rem;
}
.comment2{
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 5rem;
    margin-top: 6rem;
    font-size: 1.1rem;
}
.customer{
    margin-top: 3rem;
    
}
.customer1{
    font-size: 2rem;
    justify-content: center;
    text-align: center;

}
.customer1 p{
    font-size: 1.1rem;
}
.customer1 h1{
    margin-bottom: 2rem;
}
.customer2{
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 3rem;
    margin-top: 5rem;
    transition: 0.3s ease;
}


.one{
    /* border: 1px solid black; */
    transform: translateY(-20px);
    box-shadow: 0 0 0.3vw 0.1vw wheat;
    border: 1px solid wheat;
    /* background-color:aqua ; */
}
.two{
    /* border: 1px solid black; */
    transform: translateY(-20px);
    box-shadow: 0 0 0.3vw 0.1vw wheat;
    border: 1px solid wheat;
    /* background-color:wheat;
    color: black; */
    
}
.three{
    /* border: 1px solid black; */
    transform: translateY(-20px);
    box-shadow: 0 0 0.3vw 0.1vw wheat;
    border: 1px solid wheat;
    /* background-color:aqua ;
     */
}
